[submodule "refdocs"]
	path = refdocs
	url = https://github.com/kitsonk/refdocs.git
[submodule "_static/Font-Awesome"]
	path = _static/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "src/util"]
	path = src/util
	url = https://github.com/dojo/util.git
[submodule "src/marked"]
	path = src/marked
	url = git@github.com:kitsonk/marked.git
[submodule "src/dojo"]
	path = src/dojo
	url = git@github.com:dojo/dojo.git
[submodule "src/dijit"]
	path = src/dijit
	url = git@github.com:dojo/dijit.git
