[submodule "refdocs"]
	path = refdocs
	url = https://github.com/kitsonk/refdocs.git
[submodule "node_modules/marked"]
	path = node_modules/marked
	url = https://github.com/kitsonk/marked.git
[submodule "_static/Font-Awesome"]
	path = _static/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "src/util"]
	path = src/util
	url = git@github.com:dojo/util.git
