[submodule "src/dijit"]
	path = src/dijit
	url = https://github.com/dojo/dijit.git
[submodule "src/dojox"]
	path = src/dojox
	url = https://github.com/dojo/dojox.git
[submodule "src/dojo"]
	path = src/dojo
	url = https://github.com/dojo/dojo.git
[submodule "src/util"]
	path = src/util
	url = https://github.com/dojo/util.git
[submodule "node_modules/marked"]
	path = node_modules/marked
	url = https://github.com/chjj/marked.git
