br
hr
address Powered by 
  a(href="http://nodejs.org/") node.js
  | , 
  a(href="http://expressjs.com/") express
  | , 
  a(href="http://jade-lang.com/") jade
  | , 
  a(href="https://github.com/chjj/marked") marked
  |  and 
  a(href="http://dojotoolkit.org/") Dojo Toolkit
  | .
