.CodeGlass.closed .CodeGlassWrap {
	display:none;
}

.CodeGlassLoading {
  margin: 1em;
}

.claro .CodeGlassRun,
.claro .CodeGlassCode,
.claro .CodeGlassCollapse {
  border: 1px solid #759dc0;
  padding: 2px 4px 4px 4px;
  color: #000000;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  background-color: #bcd8f4;
  background-image: url("../../dijit/themes/claro/images/buttonEnabled.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
  background-image: -webkit-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
  background-image: -o-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
  background-image: -ms-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
  _background-image: none;
}