@import "nib"

.CodeGlass.closed .CodeGlassWrap
  display none

.CodeGlassLoading
  margin 1em

.claro
  .CodeGlassRun
  .CodeGlassCode
  .CodeGlassCollapse
  .CodeGlassExport
    background-color #bcd8f4
    background-image linear-gradient(white 0px, rgba(white, 0) 3px, rgba(white, 0.5) 100%)
    border 1px solid #759dc0
    border-radius 4px
    box-shadow 0 1px 1px rgba(black, 0.15)
    color #000000
    padding 2px 4px 4px 4px
    text-decoration none
