doctype 5
html
  head
    block head
      title #{title}

    block css
      link(rel="stylesheet", type="text/css", href="/_static/css/wiki.css", media="all")
      link(rel="stylesheet", type="text/css", href="/_static/css/highlight.css", media="all")

    block scripts

  body(class="claro")
    block header

    block content

    block footer
