@import url("../../src/dijit/themes/claro/claro.css");
@import url("../../src/dijit/themes/claro/document.css");
@import url("../../src/dojoment-client/resources/CodeGlass.css");

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body.claro {
	font-family: Arial,Helvetica,"Liberation Sans",FreeSans,sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	background-color: #F7F7F7;
}

blockquote {
	border-top: none;
	border-bottom: none;
	border-left: 2px solid #d3d3d3;
	margin: 1em 0;
	padding: 0.25em 1em;
	font-size: 1em;
}

p {
	margin: 1em 0;
}

.claro pre {
	background-color: #F7F7F7;
	box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.5);
	font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
	line-height: 1.1em;
	font-size: 13px;
	padding: 10px;
	margin: 12px 0 0 0;
	overflow: auto;
}

.claro code {
	background-color: #F7F7F7;
	font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
	font-size: 95%;
	padding: 2px;
}

.claro pre > code {
	border: none;
	background: none;
	font-size: 100%;
	padding: 0;
}

.refdoc_wrap {
	width: 960px;
	margin: 0 auto;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	padding: 2em;
	background-color: #FFFFFF;
}

.reftoc {
	float: right;
	width: 20%;
}

.toc_header {
	border: 1px solid #AAAAAA;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin: 0 10px 10px 0;
	padding: 4px;
	color: #000000;
	text-align: center;
	background-color: #EEEEEE;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(240, 240, 240)), to(rgb(216, 216, 216)));
    background-image: -webkit-linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
    background-image: -moz-linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
    background-image: -o-linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
    background-image: -ms-linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
    background-image: linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
}

.toc_content > ul {
	margin: 0;
	padding: 0;
}

.toc_content > ul > li {
	display: block;
}

.toc_content > ul > li ul {
	padding-left: 2em;
}

.refdoc {
	width: 75%;
}

.glass > textarea {
	display: none;
}

.CodeGlass {
	border: 1px solid #d3d3d3;
	margin: 1em 0;
	padding: 12px 6px;
	box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.5);
}

.CodeGlass pre {
	box-shadow: none;
}

.claro .CodeGlassRun,
.claro .CodeGlassCode,
.claro .CodeGlassCollapse {
	border: 1px solid #AAAAAA;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin: 0 10px 10px 0;
	padding: 4px;
	text-decoration: none;
	color: #000000;
	background-color: #EEEEEE;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(240, 240, 240)), to(rgb(216, 216, 216)));
    background-image: -webkit-linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
    background-image: -moz-linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
    background-image: -o-linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
    background-image: -ms-linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
    background-image: linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
}

.claro .dijitDialog .dijitTabPaneWrapper > .dijitContentPane {
	padding: 0;
}