@import url("../../src/dojoment-client/resources/client.css");
@import url("../Font-Awesome/css/font-awesome.css");
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
blockquote {
  border-top: none;
  border-bottom: none;
  border-left: 2px solid #d3d3d3;
  margin: 1em 0;
  padding: 0.25em 1em;
  font-size: 1em;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  border-top: 58px solid transparent;
  margin-top: -58px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.claro {
  line-height: 1.5em;
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
}
.claro pre {
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 4px 4px -3px rgba(0,0,0,0.5);
  box-shadow: 0 4px 4px -3px rgba(0,0,0,0.5);
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  line-height: 1.1em;
  font-size: 13px;
  padding: 10px;
  margin: 12px 0 0 0;
  overflow: auto;
}
.claro pre > code {
  border: none;
  background: none;
  font-size: 100%;
  padding: 0;
}
.claro code {
  background-color: #f7f7f7;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-size: 95%;
  padding: 2px;
}
.claro .refdoc_wrap {
  font-size: 14px;
}
.claro .CodeGlassRun,
.claro .CodeGlassCode,
.claro .CodeGlassCollapse,
.claro .CodeGlassExport {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0 10px 10px 0;
  padding: 4px 8px 4px 10px;
  text-decoration: none;
  color: #000;
  background-color: #eee;
}
.claro .CodeGlassRunhover,
.claro .CodeGlassCodehover,
.claro .CodeGlassCollapsehover,
.claro .CodeGlassExporthover {
  color: #03d;
  border-color: #ccc;
}
.claro .CodeGlassExport {
  display: block;
  float: right;
  margin: -6px auto 0 0;
}
.claro .dijitDialog .dijitTabPaneWrapper > .dijitContentPane {
  padding: 0;
  overflow: hidden;
}
.claro .dijitDialog .dijitTabPaneWrapper > .dijitContentPane .dijitContentPane {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.claro .dijitDialog .dijitTabPaneWrapper > .dijitContentPane textarea {
  padding: 0.5em;
  border: none;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  line-height: 1.1em;
  font-size: 13px;
  height: 99%;
  width: 99%;
}
.claro .dijitDialogPaneContent {
  font-size: 14px;
}
.header {
  position: fixed;
  height: 54px;
  width: 100%;
  background-color: #f7f7f7;
  border-bottom: 1px solid #999;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.15);
  box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}
.header .logo {
  margin: 1em;
  float: left;
}
.header .leader {
  margin: 1em;
  font-size: 18px;
  float: right;
}
.header .crumbs {
  font-size: 18px;
  float: left;
  margin: 1em;
}
.header .crumbs a {
  text-decoration: none;
  border: 1px solid #f7f7f7;
  color: #000080;
}
.header .crumbs a:hover {
  border: 1px dotted #c7c7c7;
  background-color: #fcfcfc;
}
.refdoc_wrap {
  width: 960px;
  margin: 0 auto;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  padding: 70px 2em 2em 2em;
  background-color: #fff;
}
.dj_ie6 .refdoc_wrap {
  padding-top: 2em;
}
.reftoc {
  float: right;
  width: 20%;
}
.toc_header {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0 0 10px 0;
  padding: 4px;
  color: #000;
  text-align: center;
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #d8d8d8);
  background-image: -moz-linear-gradient(top, #f0f0f0, #d8d8d8);
  background-image: -o-linear-gradient(top, #f0f0f0, #d8d8d8);
  background-image: -ms-linear-gradient(top, #f0f0f0, #d8d8d8);
  background-image: linear-gradient(to bottom, #f0f0f0, #d8d8d8);
}
.toc_content {
  font-size: 0.95em;
}
.toc_content > ul {
  margin: 0;
  padding: 0;
}
.toc_content > ul > li {
  display: block;
}
.toc_content > ul > li ul {
  padding-left: 1.5em;
}
.toc_content > ul > li li {
  color: #999;
}
.toc_content a {
  color: #666;
  text-decoration: none;
}
.toc_content a:hover {
  border-bottom: 1px dotted #aaa;
}
.refdoc {
  width: 75%;
}
.refdoc table {
  border-collapse: collapse;
  border-bottom: 1px solid #ccc;
}
.refdoc table thead th {
  font-weight: bold;
  padding: 0.4em;
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #d8d8d8);
  background-image: -moz-linear-gradient(top, #f0f0f0, #d8d8d8);
  background-image: -o-linear-gradient(top, #f0f0f0, #d8d8d8);
  background-image: -ms-linear-gradient(top, #f0f0f0, #d8d8d8);
  background-image: linear-gradient(to bottom, #f0f0f0, #d8d8d8);
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.refdoc table tbody tr:nth-child(even) {
  background: #f3f3f3;
}
.refdoc table tbody td {
  padding: 0.2em;
  vertical-align: top;
}
.refdoc table.vertical {
  border-bottom: none;
}
.refdoc table.vertical tbody tr:nth-child(even) {
  background: none;
}
.refdoc table.vertical tbody th {
  font-weight: bold;
  padding: 0.2em 0.4em;
  background-color: #eee;
  border-right: 2px solid #ccc;
}
.copyright {
  font-size: 12px;
  padding: 1em;
  border-top: 1px solid #999;
  -webkit-box-shadow: 0 -2px 2px rgba(0,0,0,0.15);
  box-shadow: 0 -2px 2px rgba(0,0,0,0.15);
}
.lang-codeglass > textarea {
  display: none;
}
.CodeGlass {
  border: 1px solid #d3d3d3;
  margin: 1.5em 0;
  padding: 12px 6px;
  -webkit-box-shadow: 0 4px 4px -3px rgba(0,0,0,0.5);
  box-shadow: 0 4px 4px -3px rgba(0,0,0,0.5);
}
.CodeGlass pre {
  -webkit-box-shadow: none;
  box-shadow: none;
}
